<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" method="post" th:action="@{/user-create}" th:object="${user}">

    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">

    <label for="email">Введите e-mail: </label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">

    <label for="address">Введите адрес: </label>
    <input type="text" th:field="*{address}" id="address" placeholder="address">

    <input type="submit" value="Create User">

</form>
</body>
</html>